/*********************** Tag Selectors ********************/
body {
  font-family: "Merriweather", serif;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

@media (max-width : 992px) {
  .container-fluid {
    padding: 7% 5%;   
    text-align: center;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: dotted #c8dbdb 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}


/* Title */

#title {
  background-color: #e4f9f5;
  /* position: relative; */
}

#title .container-fluid{
  padding: 7% 15% 0%;  
} 

@media(max-width : 992px){
  #title .container-fluid{
    padding: 7% 5% 0%;
  }
}

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

.imgTopCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.imgBottomCloud {
  position: absolute;
  left: 300px;
  right: 300px;
}

/* About */
/* #about {
  background-color: #11999e;
  padding: ;
} */

.txt-about {
  width: 50%;
  margin: auto;
}

.imgPersonal {
  width: 20%;
  height: 20%;
}

.imgComputer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.imgCertificate {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.imgCode {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.imgChillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skillRow {
  width: 75%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

@media (max-width : 992px){
  .skillRow{ 
  width: 80%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  }
}

/* contact */

#footer {
  line-height: 2;
  /* position: relative; */
}

.txtContactPara {
  width: 35%;
  margin: 40px auto 60px;
}

.contactLinks {
margin: 10px 20px;
}

.btnContactMe {
background: #11cdd4;
background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: "Montserrat", sans-serif;
color: #ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btnContactMe:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}

/* footer */

#footer {
  background-color: #66bfbf;
  line-height: 2;
}


a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  /* padding: 20px 0px; */
}

.underline {
  text-decoration: underline;
}
